#menu-f .navbar-toggler {
  color: #000;
}
#footer1-8 P {
  text-align: center;
}
#menu-f .navbar-toggler {
  color: #000;
}
#footer1-b P {
  text-align: center;
}
#menu-f .navbar-toggler {
  color: #000;
}
