#menu-f .navbar-toggler {
  color: #5bc0de;
}
#footer1-8 P {
  text-align: center;
}
#menu-f .navbar-toggler {
  color: #5bc0de;
}
#footer1-b P {
  text-align: center;
}
#menu-f .navbar-toggler {
  color: #5bc0de;
}
